'scopeName': 'source.mylanguage'
'name': 'Mylanguage'
'fileTypes': ['txt']

'patterns': [
  {
    'begin':'<d( type=\'(thought|song|letter|poem|continuation)\')*( layer=\'(0|1)\')*>'
    'end': '</d>'
    'name': 'string.quoted.single.dialog'
  }
]
